<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Upload CSV</title>
  </head>
  <body>
    <h1>Upload CSV File</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" required>
      <br><br>
      <label for="shift_factors">Shift Factors (as dictionary, e.g., {30: 1.0, 40: 0.1}):</label>
      <textarea id="shift_factors" name="shift_factors" rows="4" cols="50"></textarea>
      <br><br>
      <label for="use_equation">Use Equation to Calculate Shift Factors:</label>
      <input type="checkbox" id="use_equation" name="use_equation" value="true">
      <br><br>
      <input type="submit" value="Upload">
    </form>
  </body>
</html>